* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    color: #87ceeb;
    background-image: linear-gradient(to top, #87ceeb 0%, #add8e6 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
    padding: 20px;
}

.navbar__links {
    color: #87ceeb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}


.navbar__links:hover {
    color: #004080;
    transition: all 0.3s ease;
}

.intro {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.intro__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
}

.intro__heading span {
    background: rgb(0, 255, 255); /* fallback for old browsers */
    background: -webkit-linear-gradient(
            to right,
            rgb(9, 130, 130),
            rgb(6, 87, 87)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            to right,
            rgb(87, 236, 236),
            rgb(6, 87, 87)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

.intro__info {
    color: white;
    font-size: 20px;
    background-color: rgb(6, 87, 87);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.intro__description {
    font-size: 45px;
    background: aquamarine; /* fallback for old browsers */
    background: -webkit-linear-gradient(
            to right,
            aquamarine,
            aquamarine
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            to right,
            aquamarine,
            aquamarine
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.intro__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.file_upload_status {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.select__button {
    margin: auto;
    font-size: 15px;
    cursor: pointer;
}

.upload__button {
    color: white;
    font-size: 1rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, rgb(0, 255, 255), rgb(9, 130, 130), rgb(6, 87, 87));
    background: linear-gradient(to right, rgb(0, 255, 255), rgb(9, 130, 130), rgb(6, 87, 87));
    padding: 15px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



#quizzit {
    color: #001A33;
}




/*
    options css
*/




.options {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.options h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(87, 236, 236), rgb(6, 87, 87) 100%);
    background-size: 100%;
    text-decoration-color: #ffb199;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.options__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.options__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(87, 236, 236), rgb(6, 87, 87)f 100%);
    transition: 0.3s ease-in;
}

.options__card h2 {
    text-align: center;
}

.options__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.summary_button, .questions_button, .ask_question_button {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.options__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
}

.options__card button:hover {
    cursor: pointer;
}

.options__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.options__card:nth-child(1) {
    background-image: linear-gradient(
            -225deg,
            #245b81,
            #12d8fa,
            #a6ffcb
    );
}

.options__card:nth-child(2) {
    background: #1fa2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
            to right,
            #a6ffcb,
            #12d8fa,
            #1fa2ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            -225deg,
            #a6ffcb,
            #12d8fa,
            #245b81
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.options__card:nth-child(3) {
    background-image: linear-gradient(
            -225deg,
            #245b81,
            #12d8fa,
            #a6ffcb
    );
}